# ==========================
# 🚀 App Settings
# ==========================
PROJECT_NAME=Barbershop

# ==========================
# 🗄️ Database Settings
# ==========================
# Async for FastAPI
DATABASE_URL_ASYNC=sqlite+aiosqlite:///./barbershop.db
# Sync for Alembic and scripts
DATABASE_URL_SYNC=sqlite:///./barbershop.db

# ==========================
# 🔐 JWT Settings
# ==========================
SECRET_KEY=super-secret
ACCESS_TOKEN_EXPIRE_MINUTES=1440
ALGORITHM=HS256

# ==========================
# 🔁 Redis Settings
# ==========================
REDIS_URL=redis://localhost:6379/0

# ==========================
# 👑 Super Admin Settings
# ==========================
SUPERADMIN_LOGIN=admin123
SUPERADMIN_PASSWORD=admin123

# ==========================
# 📞 Twilio SMS Settings
# ==========================
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE_NUMBER=+1234567890

# ==========================
# ☁️ AWS S3 Settings
# ==========================
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=us-east-1
S3_BUCKET_NAME=your_s3_bucket_name
